Exercise 83: Shipping Calculator
(23 Lines)
An online retailer provides express shipping for many of its items at a rate of $10.95
for the first item, and $2.95 for each subsequent item. Write a function that takes the
number of items in the order as its only parameter. Return the shipping charge for
the order as the function’s result. Include a main program that reads the number of
items purchased from the user and displays the shipping charge.

In [4]:

def order(item):
    if item==1:
        return 10.95
    else:
        return (item-1)*2.95+10.95
    
it=int(input('Enter :  '))    
order(it)

Enter :  5

22.75

In [36]:
def add(*name):
    print('name :' +name[0])
    
add("1","2","3")

name :1

In [37]:
"banesh".upper()

'BANESH'

In [38]:
add('a','b','c','d')

name :a

In [39]:
arg()

NameError: name 'arg' is not defined

Exercise 84: Median of Three Values
(Solved—42 Lines)
Write a function that takes three numbers as parameters, and returns the median value
of those parameters as its result. Include a main program that reads three values from
the user and displays their median.
Hint: The median value is the middle of the three values when they are sorted
into ascending order. It can be found using if statements, or with a little bit of
mathematical creativity.

In [89]:
#it1=int(input('Enter :  ')) 
#it2=int(input('Enter :  ')) 
#it3=int(input('Enter :  ')) 
ls=[]
#  ls=[] for i in input: ls.append(i)
def med(*argv):
    for i in argv :    
        ls.append(i)
        ls.sort() 
        m=len(ls)
        n=m//2
    return ls[n]
#print(len(ls))

In [90]:
med(122325,2,3,4000,5,6,1,2,3,4558,5,6)

5

In [91]:
ls

[1, 2, 2, 3, 3, 5, 5, 6, 6, 4000, 4558, 122325]

In [75]:
12//2

6

In [92]:
for i in enumerate(ls):
    print(i,end=' ')

(0, 1) (1, 2) (2, 2) (3, 3) (4, 3) (5, 5) (6, 5) (7, 6) (8, 6) (9, 4000) (10, 4558) (11, 122325)

Exercise 85: Convert an Integer to its Ordinal Number
(47 Lines)
Words like first, second and third are referred to as ordinal numbers. In this exercise,
you will write a function that takes an integer as its only parameter and returns a
string containing the appropriate English ordinal number as its only result. Your
function must handle the integers between 1 and 12 (inclusive). It should return an
empty string if a value outside of this range is provided as a parameter. Include a
main program that demonstrates your function by displaying each integer from 1 to
12 and its ordinal number. Your main program should only run when your file has
not been imported into another program.

In [1]:
num=(input('Enter :  '))
def order(num):
    if num=='1':print('ONE')
    elif num=='2':print('TWO')
    elif num=='3':print('THREE')
    elif num=='4':print('FOUR')
    elif num=='5':print('FIVE')
    elif num=='6':print('SIX')
    elif num=='7':print('SEVEN')
    elif num=='8':print('EIGHT')
    elif num=='9':print('NINE')
    elif num=='10':print('TEN')
    elif num=='11':print('ELEVEN')
    elif num=='12':print('TWELVE')
    else:
        return 'Error'
order(num)

Enter :  1
ONE

In [25]:
order('8')

EIGHT

In [31]:
def ord_no(no):
    if no==1:
        return 'First'
    elif no==2:
        return 'Second'
    elif no==3:
        return 'Third'
    elif no==4:
        return 'Fourth'
    elif no==5:
        return 'Fifth'
    elif no==6:
        return 'Sixth'
    elif no==7:
        return 'Seventh'
    elif no==8:
        return 'Eighth'
    elif no==9:
        return 'Ninth'
    elif no==10:
        return 'Tenth'
    elif no==11:
        return 'Eleventh'
    elif no==12:
        return 'Twelfth'
    else :
        return "Error "

In [33]:
ord_no(we)

NameError: name 'we' is not defined